{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="UTF-8">

    <title>Meu Blog</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>

    <header>

        <div class="container nav-container">

            <h1 class="logo">
                Meu Blog
            </h1>

            <nav>

                <ul class="nav-links">

                    <li>
                        <a href="/">
                            Home
                        </a>
                    </li>

                    <li>
                        <a href="/sobre/">
                            Sobre
                        </a>
                    </li>

                </ul>

            </nav>

        </div>

    </header>

    <main>

        {% block content %}
        {% endblock %}

    </main>

    <footer>

    <div class="container">

        <p>
            © 2026 - Meu Blog Django
        </p>

    </div>

</footer>

</body>
</html>