{% extends 'base.html' %}

{% block content %}

<div class="container">

    <section class="hero">

        <h2>
            Bem-vindo ao meu blog
        </h2>

        <p>
            Estou aprendendo Django e criando meu primeiro blog pessoal.
        </p>

    </section>

    <section class="posts">

        <h2 class="section-title">
            Últimos Posts
        </h2>

        <div class="posts-grid">

            {% for post in posts %}

            <div class="post-card">

                <h3>
                    {{ post.titulo }}
                </h3>

                <p>
                    {{ post.conteudo|truncatewords:20 }}
                </p>

                <a href="">
                 Ler mais
                </a>

            </div>

            {% endfor %}

        </div>

    </section>

</div>

{% endblock %}