{% extends 'base.html' %}

{% block content %}

<div class="container">

    <section class="hero">

        <h2>
            Bem-vindo ao meu blog
        </h2>

        <p>
            Estou aprendendo Django e criando meu primeiro blog pessoal.
        </p>

    </section>

    <section class="posts">

        <h2 class="section-title">
            Últimos Posts
        </h2>

        <div class="posts-grid">

            <div class="post-card">

                <h3>
                    Meu primeiro projeto Django
                </h3>

                <p>
                    Aprendendo estrutura de projetos,
                    templates e views.
                </p>

                <a href="">
                    Ler mais
                </a>

            </div>

            <div class="post-card">

                <h3>
                    Como funciona o Django
                </h3>

                <p>
                    Entendendo URLs, apps e arquitetura.
                </p>

                <a href="">
                    Ler mais
                </a>

            </div>

            <div class="post-card">

                <h3>
                    Minha evolução na programação
                </h3>

                <p>
                    Compartilhando meus estudos e evolução.
                </p>

                <a href="">
                    Ler mais
                </a>

            </div>

        </div>

    </section>

</div>

{% endblock %}