{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="UTF-8">

    <title>Meu Blog</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>

    <header>

        <div class="container">

            <h1 class="logo">
                Meu Blog
            </h1>

        </div>

    </header>

    <main>

        <div class="container">

            <h2>
                Bem-vindo ao meu blog
            </h2>

            <p>
                Estou aprendendo Django e criando meu primeiro blog pessoal.
                Aqui vou compartilhar meus estudos, projetos e evolução
                na programação.
            </p>

        </div>

    </main>

</body>
</html>