{% extends 'base.html' %}

{% block content %}

<div class="container">

    <h2 class="section-title">
        Todos os Posts
    </h2>

    <form class="search-form">

    <input
        type="text"
        name="busca"
        placeholder="Pesquisar posts..."
    >

    <button type="submit">
        Buscar
    </button>

</form>

    <div class="posts-grid">

        {% for post in posts %}

        <div class="post-card">

            <h3>
                {{ post.titulo }}
            </h3>

            <p class="post-date">
                {{ post.data_criacao|date:"d/m/Y" }}
            </p>

             <a
               class="post-category"
               href="/posts/?categoria={{ post.categoria.nome }}"
    >
                {{ post.categoria.nome }}
            </a>
            <p>
                {{ post.conteudo|truncatewords:20 }}
            </p>

            <a href="/post/{{ post.slug }}/">
                Ler mais
            </a>

        </div>

        {% endfor %}

    </div>

</div>

{% endblock %}