{% extends 'base.html' %}

{% block content %}

<div class="about-container">

    <div class="about-card">

        <h1>
            Sobre o site
        </h1>

        <p class="about-text">

            # Sobre o DevSpace

            O DevSpace é um blog focado em programação, tecnologia e desenvolvimento web.

            O projeto começou como uma forma de aprender Django na prática e, com o tempo, evoluiu para um espaço onde
            compartilho projetos, experiências e tudo que venho aprendendo no mundo da programação.

            Aqui você encontrará conteúdos sobre:

            * Python e Django
            * Frontend
            * Git e GitHub
            * Desenvolvimento web
            * Projetos pessoais
            * Deploy e tecnologia

            O DevSpace também representa minha evolução como desenvolvedor, reunindo funcionalidades reais como sistema
            de usuários, comentários, perfis, dark mode e responsividade.

            Mais do que um simples blog, este projeto é um espaço para aprendizado, prática e evolução constante.


        </p>

    </div>

</div>

{% endblock %}